<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description " content="Esta pagina es para mostrar algunas de las variantes que se pueden presentar de las comidas Venezolanas al rededor del pais">
    <meta name="keywords" content="VIDEOS, IMAGENES, RECETAS, MENU">
    <title>curiosidades</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/css/estilos.css">
    <link href="https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap" rel="stylesheet">
</head>
    <body>
        <!---------------------------- Header ---------------------------->

        <header class="header">
            <!---------------------------- Menu Navegacion ---------------------------->
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="#">Menu</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarScroll">
                    <ul class="navbar-nav mr-auto my-2 my-lg-0 navbar-nav-scroll" style="max-height: 200px;">
                        <li class="nav-item active">
                            <a class="nav-link" href="../index.html">Inicio <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="aliados.html">Aliados</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="recetario.html">Recetario</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="descripciones.html">Descripciones</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="reseñas.html">Reseñas</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <img src="../img/banner.jpg" class="img-fluid" alt="...">
        </header>
            <h2 id="subtitulo">diferencias en las regiones</h2>
            <table border="solid 1px black" cellspacing="10" cellpadding="5" id="cuadro">
                <tr id="tit"> <!--INDICES-->
                    <td>imagen</td>
                    <td>comida</td>
                    <td>ingredientes</td>  
                    <td>region</td>
                    <td>variantes</td>
                </tr>
                <tr> <!--AREPA-->
                    <td><img src="../img/arepa.jpg" class="bordesRedondeados" alt="" width="288" height="194"></td>
                    <td>arepa</td>
                    <td>harina de maiz, agua y sal</td>  
                    <td>toda Venezuela</td>
                    <td>en unas zonas del pais las arepas son mas grandes, pero mas delgadas y en otras son mas gruesas pero mas pequeñas</td>
                </tr>   
                <tr> <!--PABELLON-->
                    <td><img src="../img/pabellon.jpg" class="bordesRedondeados" alt="" width="288" height="194"></td>
                    <td>pabellon</td>
                    <td>arroz, caraotas, carne mechada, tajadas, huevo</td>  
                    <td>toda venezuela</td>
                    <td>en el llano la carne mechada puede ser cambiada por carne de cualquier otro animal, y en la zona oriental le colocan azucar a las caraotas</td>
                </tr>
                <tr> <!--PEPITOS-->
                    <td><img src="../img/pepito.jpg" class="bordesRedondeados" alt="" width="288" height="194"></td>
                    <td>pepito</td>
                    <td>pan, carne de res, pollo cerdo, papas fritas, salsas vegetales</td>  
                    <td>venezuela</td>
                    <td>los mejores pepitos son los del estado lara, que tienen mejor calidad al momento de elegir las carnes, los panes y demas ingredientes. a diferencia de los de la capital que no le dan tanta importancia a los ingredientes y mientras que en lara le colocan mas carne, en la capital los hacen on mas vegetales, son practicamente unos vegetarianos y no saben tan bien como los del estado lara, por eso se dice que el estado lara es la capital del pepito</td>
                </tr>
                <tr> <!--CACHAPAS-->
                    <td><img src="../img/cachapa.jpg" class="bordesRedondeados" alt="" width="288" height="194"></td>
                    <td>cachapa</td>
                    <td>maiz molido agua, sal y aceite</td>  
                    <td>en toda Venezuela</td>
                    <td>aqui si no varia mucho, debido a la gran variedad de ingredientes con los que se pueden rellenar las cachapas, puede ser desde un simple queso, hasta carne de cerdo, salsas pollo y cualquier cosa que se te pueda ocurrir</td>
                </tr>
                <tr> <!--EMPANADAS-->
                    <td><img src="../img/empanadas.jpg" class="bordesRedondeados" alt="" width="288" height="194"></td>
                    <td>empanadas</td>
                    <td>harina de maiz, aceite y el relleno a eleccion</td>  
                    <td>toda venezuela, en especial las playas y puestos informales en autopistas muy concurridas o de viaje</td>
                    <td>aqui si el relleno de las empanadas depende netamente de la zona donde te encuentres, en las costas y las playas es mas comun conseguirlas de animales marinos, como sardina, atun, cazon. hasta de pabellon (que es carne, caraotas,  tajadass queso) un echo curioso que es importante resaltar, las empanadas echas en casa nunca saben igual a las que venden en la calle, siempre las de la cale tiene un sabor muy por encima al que uno puede elaborar en casa y aparte del relleno que elijas para tus empanadas, les puedes poner salsas a tu gusto, como puede ser una de queso, de tocineta, de ajo y hasta picante. No hay ninguna limitacion</td>
                </tr>
            </table>

            <!---------------------------- footer de la pagina ---------------------------->

            <footer class="footer">
                <div>
                <img src="../img/logo-web-sergio-blanco.png" alt="" width="20%" height="80%" class="FB"> 
                </div>
                <div>
                    <a href="#form"><div class="col">Contacto</div></a>
                </div>
                <div>
                    <a href="./aliados.html"><div>Servicio</div></a>
                </div>
                <div>
                    <a href=".//reseñas.html"><div>Info</div></a>
                </div>
            </footer>
        <!---------------------------- scripts ---------------------------->
        
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
    </body>
</html>